.login--body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login { 
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  section {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .form-control {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      gap: 8px;

      span {
        width: 100px;
      }

      .input-field {
        flex: 1;
      }

    }
  }
}